<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://contoso-fun-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/14c433b3-e0c0-43ad-ac68-b01d74dbf8f2/resourceGroups/rg-modernapp-kc-dev/providers/Microsoft.Web/sites/contoso-fun-app</ResourceId>
    <UserName>$contoso-fun-app</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://contoso-fun-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>